<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="PetSuite">

    <!-- Extent Report listener -->
    <listeners>
        <listener class-name="api.utilities.ExtentReportManager"/>
    </listeners>

    <!-- Single test group containing both classes -->
    <test name="PetTests">
        <classes>
            <class name="api.test.UserTests"/>
            <!-- <class name="api.test.DDTests"/> -->
        </classes>
    </test>

</suite>